<!DOCTYPE html>
<html lang="es" xmlns:data-th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Usuario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="container mt-5">
    <div th:replace="layout :: header"></div> <!--TRAEMOS EL ARCHIVO LAYOUT CON EL FRAGMENTO HEADER-->

    <h1 class="mb-4">Seleccionar Usuario para Viaje</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody data-th-each="u : ${listaUsuarios}">
        <tr>
            <td data-th-text="${u.dni}"></td>
            <td data-th-text="${u.nombre}"></td>
            <td data-th-text="${u.apellido}"></td>

            <td>
                <a class="btn btn-primary btn-sm"
                   data-th-href="@{/seleccionarUsuarioParaViaje(dni=${u.dni})}">
                    Seleccionar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
<div th:replace="layout :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
</body>
</html>