<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous">
</head>

<body class="container mt-5">

<h1 data-th-text="${band} ? 'Modificar Usuario' : 'Nuevo Usuario'"></h1>

<form data-th-object="${nuevoUsuario}"
      data-th-action="${band} ? @{/modificarUsuario} : @{/guardarUsuario}"
      method="post"
      class="mt-4">

    
    <div class="mb-3">
        <label class="form-label">DNI</label>
        <input type="text"
               class="form-control"
               data-th-field="*{dni}"
               placeholder="Ingresar DNI sin puntos"
               data-th-readonly="${band}" />
        <span class="text-danger"
              data-th-if="${#fields.hasErrors('dni')}"
              data-th-errors="*{dni}"></span>
    </div>


    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text"
               class="form-control"
               data-th-field="*{nombre}"
               placeholder="Ingresar nombre" />
        <span class="text-danger"
              data-th-if="${#fields.hasErrors('nombre')}"
              data-th-errors="*{nombre}"></span>
    </div>

    <!-- Apellido -->
    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input type="text"
               class="form-control"
               data-th-field="*{apellido}"
               placeholder="Ingresar apellido" />
        <span class="text-danger"
              data-th-if="${#fields.hasErrors('apellido')}"
              data-th-errors="*{apellido}"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Correo electrónico</label>
        <input type="email"
               class="form-control"
               data-th-field="*{correo}"
               placeholder="Ej: usuario@correo.com" />
        <span class="text-danger"
              data-th-if="${#fields.hasErrors('correo')}"
              data-th-errors="*{correo}"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text"
               class="form-control"
               data-th-field="*{telefono}"
               placeholder="Solo números" />
        <span class="text-danger"
              data-th-if="${#fields.hasErrors('telefono')}"
              data-th-errors="*{telefono}"></span>
    </div>

    <button type="submit"
            class="btn btn-success"
            data-th-text="${band} ? 'Modificar' : 'Guardar'">
    </button>

    <a href="/listarUsuarios" class="btn btn-secondary ms-2">Volver</a>

</form>

</body>
</html>