<!DOCTYPE html>
<html lang="es" xmlns:data-th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Vehículo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="container mt-5">
<div th:replace="layout :: header"></div> <!--TRAEMOS EL ARCHIVO LAYOUT CON EL FRAGMENTO HEADER-->

<h1 class="mb-3">Seleccione un Vehículo</h1>

<div class="alert alert-info">
    Usuario seleccionado:
    <strong data-th-text="${usuarioSeleccionado.nombre + ' ' + usuarioSeleccionado.apellido}"></strong>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tipo</th>
            <th>Conductor</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody data-th-each="v : ${listaVehiculos}">
        <tr>
            <td data-th-text="${v.patente}"></td>
            <td data-th-text="${v.marca}"></td>
            <td data-th-text="${v.modelo}"></td>
            <td data-th-text="${v.tipo}"></td>
            <td data-th-text="${v.conductor != null ? v.conductor.nombre : 'Sin asignar'}"></td>

            <td>
                <a class="btn btn-success btn-sm"
                   data-th-href="@{/nuevoViaje(dniUsuario=${usuarioSeleccionado.dni}, patente=${v.patente})}">
                    Elegir
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div th:replace="layout :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
</body>
</html>